@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
